<p id="notice"><%= notice %></p>

<h1>Compras</h1>

<table>
  <thead>
    <tr>
      <th>Fecha compra</th>
      <th>Monto</th>
      <th>Cliente</th>
      <th>Ver</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>

  <tbody>
    <% @compras.each do |compra| %>
      <tr>
        <td><%= compra.fecha_compra %></td>
        <td><%= compra.monto %></td>
        <td><%= compra.cliente %></td>
        <td><%= link_to 'Show', compra, class:"button success" %></td>
        <td><%= link_to 'Edit',  edit_compra_path(compra), class:"button secondary" %></td>
        <td><%= link_to 'Destroy', compra, method: :delete, class:"button alert", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<center>
  <%= link_to 'New Compra', new_compra_path, class:"button postfix" %>
</center>